* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  text-decoration: none;
}

body {
  background: radial-gradient(#f0483a, #d10a2e);
}

/* 헤더영역 */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.logo img {
  margin-left: 30px;
  width: 90px;
}

ul {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}

li {
  margin-right: 35px;
  cursor: pointer;
  text-transform: uppercase;
}

/* 버튼 및 메뉴*/
.open,
.close {
  visibility: hidden;
}

/* main 영역 */
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

/* main - content */
.content {
  margin-left: 30px;
  max-width: 600px;
}

.main-text h1 {
  font-weight: 200;
  font-size: 4rem;
}

.main-text h1 span {
  font-weight: bold;
}

.main-text h3 {
  margin-top: 20px;
  font-weight: 100;
}

.order_btn {
  margin-top: 20px;
  padding: 15px 50px;
  background-color: white;
  border-radius: 50px;
  color: black;
  font-weight: 800;
  border: none;
  cursor: pointer;
  transition: 0.25s;
}

.order_btn:hover {
  letter-spacing: 2px;
}

/* main - img */
.food_img {
  margin-right: 30px;
}
.food_img img {
  padding: 20px;
  width: 500px;
  height: 420px;
}
.slides {
  display: none;
}
.slides.active {
  display: block;
}

/* footer */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.social {
  margin-left: 30px;
  margin-right: 800px;
  font-size: 30px;
}

.social a {
  margin-right: 20px;
}

.social i:hover {
  transform: translateY(-5px);
}

.line {
  width: 50px;
  height: 1.5px;
  background-color: white;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 90px;
}

.slide-text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.slide h3 {
  font-weight: 500;
  font-size: 15px;
  margin-left: 10px;
}

.slide_btn button {
  margin: 15px 15px 0 0;
  font-size: 15px;
  background: none;
  border: 1px solid white;
  padding: 10px 15px;
  cursor: pointer;
}

@media screen and (max-width: 1250px) {
  .wrapper {
    height: 100%;
  }
  .social {
    margin-left: 30px;
    margin-right: 700px;
  }
}

@media screen and (max-width: 1150px) {
  .menu {
    display: none;
  }
  .menu li {
    margin-bottom: 10px;
  }

  .menuBtn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  .fas {
    display: flex;
    flex-direction: row-reverse;
    font-size: 25px;
    z-index: 1000;
  }
  .clicked {
    display: inline-block;
    visibility: visible;
  }

  .menu.clicked {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d10a2e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  .menu.clicked li {
    margin-bottom: 30px;
  }

  .menu.clicked li a:hover {
    transform: translateY(2px);
  }

  .main {
    margin-top: 40px;
    flex-direction: column;
  }
  .content {
    max-width: 800px;
  }
  .food_img {
    margin-top: 30px;
  }
  .footer {
    flex-direction: column-reverse;
  }
  .social,
  .slide {
    margin: 10px auto 30px auto;
  }
}
